{% extends 'layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('usuario_index') }}">Inicio</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
