{% extends 'layout.html.twig' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Username</th>
                <th>Password</th>
                <th>Correo</th>
                <th>FechaAlta</th>
                <th>Role</th>
                <th>Idioma</th>
                <th>Avatar</th>
                <th>Provincia</th>
                <th>IsActive</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td> {{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.password }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.fechaAlta ? usuario.fechaAlta|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ usuario.role }}</td>
                <td>{{ usuario.idioma }}</td>
                <td>{{ usuario.avatar }}</td>
                <td>{{ usuario.provincia }}</td>
                <td>{{ usuario.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">Ver</a>
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usuario_new') }}">Create new</a>
{% endblock %}
