{% extends 'layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('usuario/_form.html.twig') }}

    <a href="{{ path('usuario_index') }}">Inicio</a>
{% endblock %}
