{% extends 'layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Ver Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ usuario.apellidos }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ usuario.correo }}</td>
            </tr>
            <tr>
                <th>FechaAlta</th>
                <td>{{ usuario.fechaAlta ? usuario.fechaAlta|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ usuario.role }}</td>
            </tr>
            <tr>
                <th>Idioma</th>
                <td>{{ usuario.idioma }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ usuario.avatar }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ usuario.provincia }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ usuario.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuario_index') }}">Inicio</a>

    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">Editar</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
