{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Noticias {% endblock %}

{% block body %}

    Contenido de POst más recientes o lo que sea ...
   {#  {% for post in posts %}  completar esto con los datos del post

    {% for flash_message in app.session.flashbag.get('notice') %}
    {#    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>nombre</th>
                <th>teléfono</th>
                <th>foto</th>
                <th>fecha de alta</th>
            </tr>
            {% for contacto in contactos %}
                <tr>
                    <td>{{ contacto.id }}</td>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td>{{ contacto.foto }}</td>
                    <td>{{ contacto.fechaAlta | date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div> #}
{% endblock %}
