{% extends 'layout.html.twig' %}

{% block title %} Mensajes{% endblock %}

{% block body %}
    <h1>Edit Mensaje</h1>

    {{ include('mensaje/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mensaje_index') }}">back to list</a>

    {{ include('mensaje/_delete_form.html.twig') }}
{% endblock %}
