{% extends 'layout.html.twig' %}

{% block title %}Mensajes {% endblock %}

{% block body %}
    <h1>Listado de Mensaje</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.id }}</td>
                <td>
                    <a href="{{ path('mensaje_show', {'id': mensaje.id}) }}">Ver</a>
                    <a href="{{ path('mensaje_edit', {'id': mensaje.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mensaje_new') }}">Create new</a>
{% endblock %}
