{% extends 'layout.html.twig' %}

{% block title %}Mensajes{% endblock %}

{% block body %}
    <h1>Crear nuevo Mensaje</h1>

    {{ include('mensaje/_form.html.twig') }}

    <a href="{{ path('mensaje_index') }}">back to list</a>
{% endblock %}
