{% extends 'layout.html.twig' %}

{% block title %}Mensajes{% endblock %}

{% block body %}
    <h1>Ver Mensaje</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mensaje.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mensaje_index') }}">back to list</a>

    <a href="{{ path('mensaje_edit', {'id': mensaje.id}) }}">edit</a>

    {{ include('mensaje/_delete_form.html.twig') }}
{% endblock %}
