
<div class="container">
    {{ form_start(form) }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form_errors(form) }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <form action="{{ path('blog_pages_registro') }}" method="post">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.nombre) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.apellidos) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.nick) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.pass) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.correo) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.provincia) }}
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12">
                {{ form_row(form.avatarFile) }}
            </div>
        </div>

        <div class="row">

            <div class="col-xs-6">
                {{ form_row(form.guardar) }}
            </div>
            <div class="col-xs-6">
                <a class="btn btn-secondary" href="{{ path('blog_pages_inicio') }}">Cancelar</a>
            </div>
        </div>
    </form>

</div>