{# {% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Registro {% endblock %}

{% block main_container %}
    {% extends 'layout.html.twig' %}

    {% block title %}{{ parent() }} - Blog {% endblock %}

    {% block main_container %}


        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ flash_message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% import ':usuario/partials:form-usuario.partials.html.twig' %}

    {% endblock %}#}