<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
        {% endblock %}
    </head>
    <body>
    <div id="wrapper">
        <div id="main">
            <div class="inner">
            <!-- Header -->
                <header id="header">
                    <a href="{{ path('blog_pages_inicio') }}" class="logo"><strong>Blog</strong> tu blog</a>
                    <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                    </ul>
                </header>

                <section id="banner">
                    <div class="content">
                        {% block body %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>

    {% block menu %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
    </body>
    <footer>
        <p>&copy; Irene González - DWES 2019/2020</p>
    </footer>
</html>
