{% extends 'base.html.twig' %}
{% block title %} Inicio {% endblock %}

{% block menu %}

    <div id="sidebar">
        <div class="inner">
            <!-- Search -->
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menú</h2>
                </header>
                <ul>
                    <li><a href="{{ path('blog_pages_inicio') }}">Inicio</a></li>
                    <li><a href="{{ path('usuario_new') }}">Registro</a></li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('login') }}">Salir <span class="sr-only">(current)</span></a>
                        <li>
                            <span class="opener">Mi Perfil</span>
                            <ul>
                                <li><a href="{{ path('') }}">Mensajes</a></li>
                                <li><a href="{{ path('blog_usuario_editar') }}">Perfil</a></li>
                                <li><a href="{{ path('') }}">Posts</a></li>
                                <li><a href="{{ path('') }}">Comentarios</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login <span class="sr-only">(current)</span></a>
                            {% endif %}

                    <li><a href={{ path('blog_usuario_listar')}}>Gestión Usuarios</a></li>
                    <li><a href="#">Panel de Control</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {% block js %}
        <script src="{{ asset('js/main.js') }}">  </script>
        <script src="{{ asset('js/util.js') }}">  </script>
        <script src="{{ asset('js/breakpoints.min.js') }}">  </script>
        <script src="{{ asset('js/browser.min.js') }}">  </script>
        <script src="{{ asset('js/jquery.min.js') }}">  </script>
    {% endblock %}

{% endblock %}
