{% extends 'layout.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Editar Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">Volver a la lista</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
