{% extends 'layout.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Lista de Post</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Fecha</th>
                <th>Imagen</th>
                <th>Comentarios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>-
                <td>{{ post.titulo }}</td>
                <td>{{ post.contenido }}</td>
                <td>{{ post.fecha ? post.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.imagen }}</td>
                <td>{{ post.comentarios }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">Ver</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}">Editar</a>
                    <a href="{{ path('post_delete', {'id': post.id}) }}">Borrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se han encontrado Posts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Crear nuevo</a>
{% endblock %}
