{% extends 'layout.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Crear nuevo Post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">Volver ala lista</a>
{% endblock %}
