{% extends 'layout.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Ver Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ post.titulo }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ post.contenido }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ post.fecha ? post.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ post.imagen }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ post.comentarios }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">Volver a la lista</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">Editar Post</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
