{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Error {{ status_code }}  {% endblock %}

{% block main_container %}
    <p><strong>Error {{ status_code }} - {{ status_text }}</strong></p>
    <p>Volver a <a href="{{ path('blog_pages_inicio') }}">Inicio</a>.</p>
{% endblock %}